* {
	/* old-style reset here :) */
	border: 0px;
	padding: 0px;
}
body {
	font-family: Helvetica;
	background: white;
	text-align: center;
}
body h1 {
	padding-top: 20px;
	font-size: 26px;
	color: #335;
}
.icaltable {
	border-collapse: separate;
	border: 1px solid #9DABCE;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 20px;
}
.icaltable td, th {
	width: 81px;
	height: 81px;
	text-align: center;
	vertical-align: middle;
	background: url(../img/cells.png);
	color: #444;
	position: relative;
}
.icaltable th {
	height: 30px;
	font-weight: bold;
	font-size: 14px;
}
.icaltable td:hover, .icaltable th:hover {
	background-position: 0px -81px;
	color: #222;
}
.icaltable td.date_has_event {
	background-position: 162px 0px;
	color: white;
}
.icaltable td.date_has_event:hover {
	background-position: 162px -81px;
}
.icaltable td.padding {
	background: url(../img/calpad.jpg);
}
.icaltable td.today {
	background-position: 81px 0px;
	color: white;
}
.icaltable td.today:hover {
	background-position: 81px -81px;
}

.events {
	position: relative;
}
.events ul {
	text-align: left;
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 15px;
	background: #E7ECF2 url(../img/popup.png) no-repeat;
	color: white;
	border: 1px solid white;
	font-size: 15px;
	width: 200px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	color: #444444;
	-webkit-box-shadow: 0px 8px 8px #333;
}
.events li {
	padding-bottom: 5px;
}
.events li span {
	display: block;
	font-size: 12px;
	text-align: justify;
	color: #555;
}
.events li span.title {
	font-weight: bold;
	color: #222;
}

#icalnext{
    position:relative;
    left:274px;
}

#icalprev{
    position:relative;
    right:274px;
}

#currentmonth, #currentyear{
    font-weight:bold;
}