* {
	/* old-style reset here :) */
	border: 0px;
	padding: 0px;
}
body {
	font-family: Helvetica;
	background: white;
	text-align: center;
}
body h1 {
	padding-top: 20px;
	font-size: 26px;
	color: #335;
}
table {
	border-collapse: separate;
	border: 1px solid #9DABCE;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 20px;
}
td, th {
	width: 81px;
	height: 81px;
	text-align: center;
	vertical-align: middle;
	background: url(../img/cells.png);
	color: #444;
	position: relative;
}
th {
	height: 30px;
	font-weight: bold;
	font-size: 14px;
}
td:hover, th:hover {
	background-position: 0px -81px;
	color: #222;
}
td.date_has_event {
	background-position: 162px 0px;
	color: white;
}
td.date_has_event:hover {
	background-position: 162px -81px;
}
td.padding {
	background: url(../img/calpad.jpg);
}
td.today {
	background-position: 81px 0px;
	color: white;
}
td.today:hover {
	background-position: 81px -81px;
}

#icalnext{
    position:relative;
    left:274px;
}

#icalprev{
    position:relative;
    right:274px;
}

#currentmonth, #currentyear{
    font-weight:bold;
}